@import "~materialize-css/sass/components/_color-variables.scss";
@import "~materialize-css/sass/components/_color-classes.scss";
@import "~materialize-css/sass/components/_variables.scss";

$h1-fontsize: 3.56rem !default;
$h2-fontsize: 2.92rem !default;
$h3-fontsize: 2.28rem !default;
$h4-fontsize: 1.64rem !default;
$h5-fontsize: 1.32rem !default;
$h6-fontsize: 1.15rem !default;
$font-stack: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
  Cantarell, "Helvetica Neue", sans-serif;

@import "~materialize-css/sass/components/_global.scss";
@import "~materialize-css/sass/components/_buttons.scss";
@import "~materialize-css/sass/components/_typography.scss";
